.bg-red {
  background: #E94444; }

.color-green {
  color: #4CAF50; }

.color-grey {
  color: #898989; }

.color-black {
  color: #000; }

.bg-green {
  background: #4CAF50; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #000;
  opacity: 1; }

*:-moz-placeholder {
  color: #000;
  opacity: 1; }

*::-moz-placeholder {
  color: #000;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #000;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none; }

input {
  width: 100%;
  border: none;
    border-bottom: 2px solid #000000;
  background: transparent;
  padding: 0 0 11px;
  font-size: 14px;
  color: #000; }
  input::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder {
    color: #000; }
  input::-ms-input-placeholder {
    color: #000; }
  input::placeholder {
    color: #000; }

label {
  display: block; }

.row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col-3 {
  width: 33.3%;
  padding: 0 15px; }

.col-4 {
  width: 25%;
  padding: 0 15px; }

.col-6 {
  width: 50%;
  padding: 0 15px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }

.btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  position: relative; }
  .btn .svg-icon {
    position: relative;
    z-index: 1; }

.btn-accent {
  color: #fff;
  padding: 0 25px; }
  .btn-accent:before {
    content: '';
    position: absolute;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#2182DB), to(#08549A));
    background: linear-gradient(180deg, #2182DB 0%, #08549A 100%);
    border-radius: 10px; }
  .btn-accent span {
    position: relative;
    z-index: 1; }
  .btn-accent .svg-icon {
    width: 12px;
    height: 12px;
    margin: 0 16px 0 0;
    fill: #fff; }
  .btn-accent:hover:before {
    background: #2182DB; }

.btn-green {
  padding: 0 14px; }
  .btn-green:before {
    content: '';
    position: absolute;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#4CAF50), to(#0E7012));
    background: linear-gradient(180deg, #4CAF50 0%, #0E7012 100%);
    border-radius: 10px; }
  .btn-green:hover:before {
    background: #4CAF50; }

button {
  outline: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  background: transparent;
  border: none;
    border-radius: 0; }

.w-100 {
  width: 100%; }

h1 {
  text-transform: uppercase;
  margin: 0 0 17px;
  letter-spacing: 0.02em;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 130%; }

h2 {
  text-align: center;
  width: 100%;
  margin: 0 auto 9px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.01em; }

.text-decoration {
  text-decoration: underline; }

.color-blue {
  color: #2182DB; }

.mb-70 {
  margin-bottom: 70px; }

.mb-30 {
  margin-bottom: 30px; }

header {
  letter-spacing: 0.01em;
  padding: 32px 0 35px; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .schedule {
    font-size: 14px; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 0.01em; }
  .address span {
    max-width: 225px; }

.address-icon {
  border-radius: 50%;
  overflow: hidden;
  margin: 0 30px 0 0;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.1); }
  .address-icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.01em; }
  .mail .svg-icon {
    width: 17px;
    height: 17px;
    margin: 0 12px 0 0;
    fill: #2182DB; }
  .mail span {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }
  .mail:hover span {
    text-decoration: none; }

.logo {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000; }

.list-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-message li {
    margin: 0 11px 0 0; }
    .list-message li:last-child {
      margin: 0; }
    .list-message li a {
      width: 30px;
      height: 30px; }

.phone {
  color: #000;
  font-size: 22px;
  font-weight: bold; }

.schedule {
  color: #7C7C7C; }

main {
  margin: 0 0 60px;
  position: relative; }
  main .container {
    border-radius: 20px;
    overflow: hidden;
    padding: 50px 130px 83px;
    max-width: 1730px;
    position: relative; }
    main .container:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      height: 100%;
      width: calc(100% - 15px);
      background: url("../img/bg1.jpg") no-repeat center;
        background-size: cover;
      border-radius: 20px; }
    main .container > * {
      position: relative; }
  main .subtitle-text {
    color: #fff; }

.main-top {
  margin: 0 0 60px; }

.form-search {
  position: relative;
  max-width: 215px;
  width: 100%; }
  .form-search label {
    width: 100%; }
  .form-search button {
    position: absolute;
    right: 0;
    bottom: 9px;
    width: 13px;
    height: 13px;
    background: transparent;
    padding: 0;
    border: none; }
    .form-search button svg {
      fill: #fff; }
  .form-search input {
    color: #fff;
    border-color: #fff; }
    .form-search input::-webkit-input-placeholder {
      color: #fff; }
    .form-search input::-moz-placeholder {
      color: #fff; }
    .form-search input::-ms-input-placeholder {
      color: #fff; }
    .form-search input::placeholder {
      color: #fff; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu {
  font-size: 18px;
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 70px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff;
      text-decoration: underline; }
      .menu li a:hover {
        color: #CFEC1C;
        text-decoration: none; }

.subtitle-text {
  letter-spacing: 0.01em;
  font-size: 18px;
  margin: 0 0 60px; }

.main-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-box {
  width: 32%;
  background: linear-gradient(270.1deg, #FFFFFF 0.08%, rgba(255, 255, 255, 0.2) 99.92%);
  border-radius: 20px;
  height: 124px;
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 130%;
  margin: 26px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .main-box h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 5px; }
  .main-box__content {
    padding: 17px 24px 25px 0;
    width: calc(100% - 155px); }
  .main-box__img {
    height: 100%;
    width: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .main-box__img img {
      max-width: 171px;
      position: absolute;
      left: -12px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .main-box:last-child .main-box__img img {
    max-width: 89px;
    left: -2px;
    -webkit-transform: none;
            transform: none;
    top: -21px; }
  .main-box:nth-child(2) .main-box__img img {
    max-width: 175px;
    -webkit-transform: none;
            transform: none;
    top: -41px;
    left: -24px; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ECECEC;
  border-radius: 20px;
  padding: 46px 30px 27px;
  height: 100%;
  text-align: center; }
  .advantages-box h3 {
    font-weight: bold;
    margin: 34px auto 17px;
    font-size: 20px;
    letter-spacing: 0.01em; }
  .advantages-box__icon {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    width: 117px;
    height: 117px;
    padding: 20px; }
  .advantages-box a {
    margin: 5px auto 0; }

.advantages-box-one .advantages-box__icon {
  padding: 34px; }

.advantages-box-three .advantages-box__icon {
  padding: 32px; }

.advantages-box-four .advantages-box__icon {
  padding: 24px; }

.catalog-section .container {
  max-width: 1700px; }

.catalog-section .subtitle-text {
  margin: 0 auto 54px;
  max-width: 432px;
  width: 100%;
  text-align: center; }

.catalog-section .wrapper {
  max-width: 1700px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 97px 130px 67px; }

.bg-grey {
  background: #ECECEC; }

.catalog-card {
  border-radius: 20px;
  background: #fff;
  height: 100%;
  padding: 23px 30px 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .catalog-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 7px; }
  .catalog-card:hover {
    -webkit-box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
            box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15); }
  .catalog-card__img {
    width: 170px;
    height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .catalog-card__img img {
      max-height: 100%; }
  .catalog-card__content {
    width: calc(100% - 170px);
    padding: 0 0 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .catalog-card__content .btn {
      margin: auto 0 0 5px;
      width: 185px;
      height: 46px; }

.equipment {
  margin: 74px 0 84px; }
  .equipment h2 {
    margin: 0 auto 56px;
    max-width: 761px; }

.equipment-img {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px; }
  .equipment-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.equipment-content {
  -webkit-box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: #fff;
  padding: 80px 93px;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 130%;
  max-width: 950px;
  width: 100%;
  margin: -240px 0 0 auto;
  z-index: 1; }
  .equipment-content h3 {
    font-weight: bold;
    margin: 20px 0 0; }

.advantages-company {
  margin: 0 0 56px; }

.advantages-company-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#2182DB), to(#08549A));
  background: linear-gradient(180deg, #2182DB 0%, #08549A 100%);
  color: #fff;
  letter-spacing: 0.01em;
  line-height: 130%; }
  .advantages-company-box__img {
    width: 215px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .advantages-company-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .advantages-company-box__content {
    width: calc(100% - 215px);
    padding: 45px 42px; }
    .advantages-company-box__content p {
      max-width: 358px; }
  .advantages-company-box h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 12px; }

.advantages-technology {
  margin: 0 0 40px; }
  .advantages-technology .subtitle-text {
    max-width: 900px;
    margin: 0 auto 59px;
    text-align: center; }

.advantages-technology-box {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 290px;
  border-radius: 20px;
  color: #fff;
  line-height: 130%; }
  .advantages-technology-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17.15%, rgba(0, 0, 0, 0)), color-stop(98.49%, #000000));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.15%, #000000 98.49%); }
  .advantages-technology-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.advantages-technology-box__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  padding: 0 32px 47px 39px;
  letter-spacing: 0.01em;
  font-weight: bold; }

.callback {
  margin: 0 0 70px; }
  .callback .wrapper {
    border: 3px solid #2182DB;
      border-radius: 20px;
    padding: 53px 50px 60px 70px; }
  .callback h2 {
    font-size: 38px;
    margin: 0 0 9px;
    text-align: left; }
  .callback .subtitle-text {
    letter-spacing: 0.01em;
    font-size: 20px;
    color: #2182DB;
    font-weight: bold;
    margin: 0; }

.callback-body {
  max-width: 412px;
  width: 100%; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .form label {
    min-width: 215px;
    margin: 0 30px 0 0; }
  .form button {
    height: 65px;
    width: 260px; }

.contacts {
  position: relative;
  padding: 153px 0 154px; }

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  .map iframe {
    width: 100%;
    height: 100%; }

.contacts-box {
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
  max-width: 705px;
  width: 100%;
  padding: 49px 53px 51px;
  font-size: 18px; }
  .contacts-box .schedule {
    font-size: 14px; }
  .contacts-box .phone {
    font-size: 32px; }
  .contacts-box .list-message {
    margin: 22px 0 33px; }
    .contacts-box .list-message li {
      margin: 0 16px 0 0; }
      .contacts-box .list-message li a {
        width: 44px;
        height: 44px; }
  .contacts-box .address {
    font-size: 18px;
    margin: 0 0 20px; }
    .contacts-box .address span {
      max-width: none; }
  .contacts-box .mail {
    font-size: 18px; }
    .contacts-box .mail .svg-icon {
      margin: 0 22px 0 0; }

.address .svg-icon {
  margin: 0 24px 0 0;
  width: 15px;
  min-width: 15px;
  height: 21px;
  fill: #2182DB; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0 0; }
  .list-social li {
    margin: 0 16px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 67px;
      height: 67px; }

footer {
  background: #545454;
  padding: 68px 0;
  color: #CDCDCD; }
  footer .logo {
    color: #fff;
    font-size: 30px; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.links-developer {
  color: #C6C6C6;
  font-size: 14px; }

.btn-burger {
  cursor: pointer;
  width: 30px;
  display: none; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    margin: 0 0 5px; }
    .btn-burger span:last-child {
      margin: 0; }

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  max-width: 300px;
  padding: 30px 25px;
  background: #fff;
  height: 100%;
  overflow-x: auto;
  -webkit-box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15); }
  .mobile-menu .logo {
    margin: 0 auto 30px; }
  .mobile-menu .menu {
    margin: 0 0 20px; }
    .mobile-menu .menu li {
      width: 100%;
      margin: 0 0 10px; }
      .mobile-menu .menu li a {
        text-align: center;
        color: #000; }
  .mobile-menu .form-search {
    max-width: none;
    margin: 0 0 20px; }
    .mobile-menu .form-search input {
      color: #000;
      border-color: #000; }
      .mobile-menu .form-search input::-webkit-input-placeholder {
        color: #000; }
      .mobile-menu .form-search input::-moz-placeholder {
        color: #000; }
      .mobile-menu .form-search input::-ms-input-placeholder {
        color: #000; }
      .mobile-menu .form-search input::placeholder {
        color: #000; }
    .mobile-menu .form-search button svg {
      fill: #000; }
  .mobile-menu .mail {
    margin: 20px 0; }
  .mobile-menu .address .svg-icon {
    margin: 0 15px 0 0; }
  .mobile-menu .list-message {
    margin: 20px 0 0; }

.btn-close {
  margin: 0 0 20px auto;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  color: #fff;
  letter-spacing: 0.01em;
  margin: 20px 0 0; }
  .breadcrumb li a {
    margin: 0 15px 0 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .breadcrumb li a:hover {
      color: #CFEC1C; }
    .breadcrumb li a .svg-icon {
      fill: none;
      margin: 0 0 0 11px;
      width: 6.8px;
      height: 6.8px; }

.catalog {
  margin: 0 0 134px; }
  .catalog .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

.sidebar {
  background: #ECECEC;
  border-radius: 20px;
  max-width: 338px;
  width: 100%;
  padding: 36px 37px 44px; }
  .sidebar .btn-close {
    display: none; }
  .sidebar h3 {
    font-weight: bold;
    margin: 0 0 24px;
    font-size: 20px; }

.range_val {
  width: 100%;
  margin: 17px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.inp-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .inp-group input {
    width: 106px;
    border-bottom: 1px solid #FFFFFF;
    padding: 0 0 7px; }

.ui-widget-content {
  border-radius: 20px; }

.ui-widget.ui-widget-content {
  border: none; }

.ui-slider-horizontal {
  height: 10px; }

.ui-widget-header {
  background: #2182DB; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
    border-radius: 50%;
  width: 14px;
  height: 14px;
  top: -2px;
  background: #2182DB;
  outline: none;
  cursor: pointer; }

.sidebar-box {
  margin: 0 0 43px; }

.catalog-wrapper {
  width: calc(100% - 338px);
  padding: 0 0 0 30px; }

.card-product {
  border: 1px solid #ECECEC;
    border-radius: 20px;
  padding: 29px 24px 36px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 130%; }
  .card-product__img {
    width: 100%;
    height: 291px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 4px; }
    .card-product__img img {
      max-height: 100%; }
  .card-product__name {
    font-size: 20px;
    margin: 26px 0 11px;
    height: 42px;
    overflow: hidden;
    color: #000; }
  .card-product .btn {
    margin: 28px auto 0;
    height: 46px;
    max-width: 185px;
    width: 100%; }

.tag {
  position: absolute;
  left: 24px;
  top: 36px;
  z-index: 1;
  color: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 4px 11px;
  letter-spacing: 0.01em;
  font-size: 12px;
  font-weight: bold; }

.availability {
  font-size: 12px;
  font-weight: bold; }

.price {
  font-weight: bold;
  font-size: 28px; }

.checkbox {
  width: 100%;
  margin: 0 0 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  cursor: pointer; }
  .checkbox:last-child {
    margin: 0; }

.checkbox-inp {
  display: none; }

.checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 18px;
  border: 2px solid #2182DB;
    border-radius: 50%;
  background: #FFFFFF;
  margin: 0 14px 0 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }

.checkbox-inp:checked ~ .label {
  color: #2182DB; }

.checkbox-inp:checked + .checkbox-custom {
  background: #2182DB; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .btn-group .btn {
    height: 46px;
    padding: 0 28px;
    font-size: 12px;
    max-width: 122px;
    width: 100%; }

.btn-red {
  padding: 0 28px;
  color: #fff; }
  .btn-red:before {
    content: '';
    position: absolute;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FA4747), to(#820A0A));
    background: linear-gradient(180deg, #FA4747 0%, #820A0A 100%);
    border-radius: 10px; }
  .btn-red span {
    position: relative;
    z-index: 1; }
  .btn-red:hover:before {
    background: #FA4747; }

.btn-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 39px auto 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #000; }
  .btn-load svg {
    width: 26px;
    height: 26px;
    margin: 0 0 0 22px; }

.catalog-content {
  margin: 0 0 110px; }

.seo-box {
  line-height: 130%;
  margin: 0 0 54px; }
  .seo-box:last-child {
    margin: 0; }
  .seo-box .box-text {
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 130%; }
    .seo-box .box-text p {
      margin: 0 0 20px; }
      .seo-box .box-text p:last-child {
        margin: 0; }
    .seo-box .box-text ul {
      margin: 0 0 20px; }
      .seo-box .box-text ul li {
        margin: 0 0 10px; }
        .seo-box .box-text ul li:last-child {
          margin: 0; }
  .seo-box h3 {
    margin: 0 0 30px;
    letter-spacing: 0.01em;
    font-size: 38px;
    font-weight: bold;
    line-height: 130%;
    max-width: 755px;
    width: 100%; }

.about-product .box-text {
  padding: 43px 40px 37px; }

.list-dots {
  list-style-type: disc;
  padding: 0 0 0 20px; }

.list-number {
  counter-reset: item; }
  .list-number li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    display: inline-block;
    margin: 0 5px 0 0; }

.btn-filter {
  display: none; }

.title-line {
  width: 100%; }
  .title-line .tag {
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 27px;
    text-transform: none;
    font-size: 12px; }
    .title-line .tag:last-child {
      margin: 0; }

.products {
  margin: 0 0 99px; }
  .products .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.products-gallery__max {
  width: 504px;
  height: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.products-gallery-preview {
  margin: 0 57px 0 0;
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.products-gallery-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 32px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .products-gallery-min:hover {
    opacity: .5; }
  .products-gallery-min:last-child {
    margin: 0; }

.click-item {
  opacity: .5; }

.products-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.products-information {
  padding: 37px 48px 41px;
  border-radius: 20px;
  letter-spacing: 0.01em;
  line-height: 130%; }
  .products-information .price {
    font-size: 60px;
    font-weight: bold;
    margin: 26px 0 13px;
    line-height: 130%; }
  .products-information .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .products-information h3 {
    margin: 40px 0 17px;
    line-height: 130%;
    font-size: 20px;
    max-width: 459px; }

.list-characteristics {
  letter-spacing: 0.01em;
  font-size: 20px;
  line-height: 130%; }
  .list-characteristics p {
    font-weight: bold;
    margin: 0 5px 0 0; }
  .list-characteristics li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.article {
  color: #898989;
  letter-spacing: 0.01em; }

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.5px solid #CECECE;
    border-radius: 100px;
  height: 46px;
  background: #fff;
  width: 94px;
  padding: 0 12px; }
  .amount span {
    letter-spacing: 0.01em;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-weight: bold; }
    .amount span:hover {
      color: #CECECE; }
  .amount input {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border: none;
    width: 40px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px; }

.add-basket {
  height: 46px;
  margin: 0 24px; }
  .add-basket .svg-icon {
    fill: #fff;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0; }

.btn-click {
  height: 46px; }
  .btn-click .svg-icon {
    fill: #fff;
    width: 23px;
    height: 23px; }

.links-prod {
  margin: 80px auto 0;
  text-align: center;
  font-size: 20px; }

.products-content {
  max-width: 706px;
  width: 100%; }

.tabs {
  margin: 60px 0 0; }

.tabs__caption {
  line-height: 130%;
  font-size: 20px;
  letter-spacing: 0.01em;
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .tabs__caption li {
    padding: 0 0 23px;
    position: relative;
    margin: 0 75px 0 0;
    cursor: pointer; }
    .tabs__caption li:last-child {
      margin: 0; }
    .tabs__caption li:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -2px;
      left: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
  .tabs__caption .active:before {
    background: #E94444; }

.tabs__content {
  display: none;
  padding: 54px 0 0;
  letter-spacing: 0.01em;
  font-size: 20px;
  line-height: 130%; }

.tabs__content.active {
  display: block; }

.video-wrapper {
  max-width: 1200px;
  width: 100%;
  height: 600px; }
  .video-wrapper iframe {
    width: 100%;
    height: 100%; }

strong {
  font-weight: bold;
  display: inline-block; }

.clarification {
  margin: 30px 0 0; }

.recommended {
  margin: 0 0 70px; }
  .recommended h2 {
    text-align: left;
    margin: 0 0 72px; }

.backed-btn-fixed {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 3;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 20px 0 0 20px;
  background: #2182DB;
  color: #fff;
  width: 144px;
  height: 138px;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 14px;
  padding: 25px 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.backed-btn-fixed__icons {
  position: relative;
  margin: 0 auto 15px; }
  .backed-btn-fixed__icons .svg-icon {
    width: 54px;
    height: 54px;
    fill: #fff; }

.backed-btn-fixed__val {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 27px;
  height: 27px;
  background: #E94444;
  color: #fff;
  border-radius: 50%;
  top: -7px;
  right: -16px; }

.bg-red {
  background: #E94444; }

.color-green {
  color: #4CAF50; }

.color-grey {
  color: #898989; }

.color-black {
  color: #000; }

.bg-green {
  background: #4CAF50; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1700px) {
  .catalog-section .wrapper {
    padding: 60px; } }

@media only screen and (max-width: 1520px) {
  main .container {
    padding: 50px 30px 83px; }
  .catalog-section .wrapper {
    padding: 30px; } }

@media only screen and (max-width: 1400px) {
  .main-box {
    height: 100%; }
  .menu li {
    margin: 0 20px 0 0; }
  .catalog-section .col-3 {
    width: 50%; }
  .callback .wrapper {
    padding: 30px; }
  .products-content {
    max-width: 550px; }
  .products-gallery__max {
    max-width: 400px; }
  .products-gallery-preview {
    margin: 0 20px 0 0; }
  .products-gallery-min {
    margin: 0 0 20px; }
  .links-prod {
    margin: 30px auto 0; } }

@media only screen and (max-width: 1300px) {
  .address-icon {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0; }
  header {
    padding: 20px 0; }
  .callback-body {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 20px; }
  .callback {
    margin: 0 0 30px; }
    .callback h2 {
      text-align: center; }
  .form {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .card-product__img {
    height: 200px; }
  .card-product__name {
    font-size: 16px;
    margin: 15px 0 10px; }
  .catalog-content {
    margin: 0 0 40px; }
  .price {
    font-size: 22px; } }

@media only screen and (max-width: 1200px) {
  .main-box {
    height: 130px;
    width: 49%;
    margin: 45px 0 0; }
  .logo {
    font-size: 24px; }
  .btn-accent {
    padding: 0 15px; }
  h1 {
    font-size: 40px; }
  .subtitle-text {
    margin: 0 0 30px; }
  .phone {
    font-size: 19px; }
  .address-icon {
    width: 40px;
    height: 40px; }
  .catalog-card__img {
    width: 120px;
    height: 120px; }
  .catalog-card__content {
    width: calc(100% - 120px); }
    .catalog-card__content p {
      margin: 0 0 10px; }
  .equipment-content {
    max-width: 700px;
    padding: 50px; }
  .equipment-img {
    max-width: 800px; }
  .equipment {
    margin: 60px 0; }
  .card-product {
    padding: 20px 15px; }
  .recommended h2 {
    margin: 0 auto 20px; }
  .products {
    margin: 0 0 50px; }
  .backed-btn-fixed {
    max-width: 120px; }
  .products-information {
    padding: 30px; }
    .products-information .price {
      font-size: 30px; }
    .products-information h3 {
      font-size: 18px;
      margin: 20px 0 15px; }
  .list-characteristics {
    font-size: 16px; }
  .products-content {
    max-width: 430px; } }

@media only screen and (max-width: 1100px) {
  header .address {
    display: none; }
  .btn-burger {
    display: block; }
  .advantages-company-box__img {
    width: 180px; }
  .advantages-company-box__content {
    width: calc(100% - 180px);
    padding: 20px; }
  .advantages-company {
    margin: 0 0 30px; } }

@media only screen and (max-width: 992px) {
  .main-top {
    margin: 0 0 30px; }
    .main-top .menu {
      display: none; }
  .form-search {
    max-width: none; }
  .breadcrumb {
    margin: 10px 0 0; }
  h1 {
    margin: 0 0 20px;
    font-size: 30px; }
  main .container {
    padding: 30px; }
  header .btn, header .list-message {
    display: none; }
  .col-4 {
    width: 50%; }
  .mb-70 {
    margin: 0 0 40px; }
  main {
    margin: 0 0 40px; }
  .advantages-box h3 {
    margin: 20px 0; }
  .advantages-company-box {
    font-size: 14px; }
    .advantages-company-box h3 {
      font-size: 18px; }
  .advantages-company-box__img {
    width: 120px; }
  .advantages-company-box__content {
    width: calc(100% - 120px); }
  .advantages-technology-box__content {
    padding: 0 20px 30px; }
  .seo-box h3 {
    font-size: 30px; }
  .seo-box .box-text {
    font-size: 16px; }
  .catalog-content .col-3 {
    width: 50%; }
  .products-content {
    max-width: none;
    margin: 20px 0 0; }
  .products-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .products-gallery-preview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px 0 0;
    width: 100%; }
  .products-gallery-min {
    width: 100px;
    height: 100px;
    margin: 0; }
  .products-gallery__max {
    max-width: 300px;
    height: auto; }
  .tabs__content {
    font-size: 16px;
    padding: 20px 0 0; }
  .recommended {
    margin: 0 0 40px; } }

@media only screen and (max-width: 900px) {
  .main-box__img img, .main-box:nth-child(2) .main-box__img img {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    max-width: 100%; }
  .main-box:last-child .main-box__img img {
    max-width: 50px;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none; }
  .main-box, .main-box__img {
    height: auto; }
  .main-wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .main-box {
    margin: 30px 0 0; }
  .catalog-section .col-3 {
    width: 100%; }
  .col-3 {
    width: 50%; }
  footer {
    padding: 30px 0; }
  .seo-box {
    margin: 0 0 40px; }
    .seo-box h3 {
      font-size: 25px;
      margin: 0 0 20px; }
  .catalog {
    margin: 0 0 50px; }
  .sidebar {
    padding: 30px 25px;
    border-radius: 15px;
    max-width: 300px; }
  .catalog-wrapper {
    width: calc(100% - 300px); }
  .tabs__caption {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px; }
    .tabs__caption li {
      padding: 0 0 10px;
      margin: 0; } }

@media only screen and (max-width: 768px) {
  .main-box {
    width: 100%; }
  .main-box__img {
    width: 120px; }
  .main-box__content {
    width: calc(100% - 120px); }
  header {
    padding: 10px 0; }
    header .mail, header .schedule {
      display: none; }
  .advantages-box {
    font-size: 14px; }
    .advantages-box h3 {
      font-size: 18px; }
  .advantages-box__icon {
    width: 90px;
    height: 90px;
    padding: 17px; }
  .advantages-box-one .advantages-box__icon, .advantages-box-three .advantages-box__icon {
    padding: 24px; }
  .advantages-box-four .advantages-box__icon {
    padding: 20px; }
  .equipment-content {
    max-width: none;
    margin: 20px auto 0; }
  .col-6 {
    width: 100%; }
  .advantages-company-box {
    border-radius: 10px; }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form label {
      margin: 0 0 10px; }
    .form button {
      margin: 20px auto 0;
      width: 220px; }
  .callback .subtitle-text {
    font-size: 18px; }
  .callback h2 {
    font-size: 30px; }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .copyright {
    margin: 10px 0; }
  .sidebar {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background: #fff;
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    -webkit-box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15);
            box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.15); }
    .sidebar .btn-close {
      display: block; }
  .catalog-wrapper {
    width: 100%;
    padding: 0; }
  .btn-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 20px; } }

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 24px;
    text-align: center; }
  h2 {
    font-size: 30px; }
  .subtitle-text {
    font-size: 16px;
    margin: 0; }
  .main-box h3 {
    font-size: 16px; }
  main .subtitle-text {
    text-align: center; }
  .advantages-box {
    padding: 30px 20px; }
  .catalog-card {
    padding: 20px; }
  .catalog-section .subtitle-text {
    margin: 0 auto 20px; }
  .col-3 {
    width: 100%; }
  .advantages-technology .subtitle-text {
    margin: 0 auto 30px; }
  .contacts-box {
    padding: 30px; }
    .contacts-box .phone {
      font-size: 24px; }
    .contacts-box .list-message {
      margin: 20px 0; }
    .contacts-box .mail .svg-icon {
      margin: 0 10px 0 0; }
  .list-social {
    margin: 20px 0 0; }
    .list-social li a {
      width: 50px;
      height: 50px; }
  .address .svg-icon {
    margin: 0 10px 0 0; }
  .contacts {
    padding: 70px 0; }
  .backed-btn-fixed {
    max-width: 80px;
    height: 100px;
    border-radius: 10px 0 0 10px;
    padding: 15px 10px; }
  .backed-btn-fixed__icons {
    margin: 0 auto 10px; }
    .backed-btn-fixed__icons .svg-icon {
      width: 40px;
      height: 40px; }
  .backed-btn-fixed__val {
    font-size: 12px;
    width: 22px;
    height: 22px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .col-4 {
    width: 100%; }
  .catalog-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .catalog-card h3 {
      text-align: center;
      margin: 0 auto 5px; }
    .catalog-card__img {
      margin: 0 auto 20px; }
    .catalog-card__content {
      width: 100%;
      padding: 0; }
      .catalog-card__content .btn {
        margin: 0 auto; }
  .catalog-content .col-3 {
    width: 100%; }
  .btn-load {
    margin: 0 auto; }
  .about-product .box-text {
    padding: 20px; }
  main .container:before {
    border-radius: 10px; }
  .products-gallery-min {
    width: 60px;
    height: 60px; }
  .products-gallery-preview {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .title-line .tag {
    margin: 0 0 5px; } }

@media only screen and (max-width: 440px) {
  header .phone {
    display: none; }
  h1 {
    font-size: 22px; }
  h2 {
    font-size: 24px; }
  .add-basket {
    max-width: none;
    margin: 10px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .products-information .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .list-characteristics {
    font-size: 14px; }
  .tabs__caption {
    border: none; }
    .tabs__caption li {
      margin: 0 0 10px; }
      .tabs__caption li:last-child {
        margin: 0 0 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 19px; }
  main .container {
    padding: 30px 15px; } }
